// ======================================
//  Buttons
// ======================================

.button {
  &-primary {
    font-size: em(10);
    width: em(200);
    padding: em(10) em(60);
    border-radius: em(16);
    margin: 0 auto;
    color: $button-color;
    border: em(2) solid $button-color;
    background: none;
    transition: all 0.4s ease-out;
    @include media-q(medium) {
      width: em(200);
      height: em(40);
      margin: auto em(20);
    }
    &.contact {
      width: 100%;
      border: em(2) solid $button-color;
      font-size: em(16);
      margin: 0;
      @include media-q(medium) {
        width: 70%;
      }
      @include media-q(medium) {
        width: 55%;
      }
    }
    &:hover {
      background-color: #2389ce;
      color: $white;
    }
  }
  &-view {
    font-size: em(12);
    position: absolute;
    right: em(15);
    bottom: em(15);
  }
}

.close-button {
  position: absolute;
  top: em(15);
  right: em(15);
  width: em(40);
  opacity: 0;
  transition: opacity 0.7s ease-out;
  cursor: pointer;
}

#prev,
#next {
  width: em(21);
  cursor: pointer;
  margin: auto;
  @include media-q(medium) {
    width: em(40);
  }
  @include media-q(large) {
    width: em(21);
  }
}

#prev {
  transform: rotate(180deg);
}

#check-project {
  cursor: pointer;
}
